.is-style-bt-triangle-icon {
	.wp-block-button__link {
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 0;
			width: 0;
			right: 8px;
			bottom: 8px;
			border-style: solid;
			border-width: 0 0 12px 12px;
			border-color: transparent transparent currentColor transparent;
		}
	}

	&.is-button-size-small {
		.wp-block-button__link:after {
			border-width: 0 0 10px 10px;
		}
	}
}

.is-style-bt-blur {
	.wp-block-button__link {
		box-shadow: 0 2px 18px rgba(133, 109, 109, 0.5);
		transition: box-shadow .3s ease-in;
		&:hover {
			box-shadow: 0 0 0 rgba(133, 109, 109, 0);
		}
	}
}
.is-style-bt-shadow {
	.wp-block-button__link {
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
		transition: box-shadow .1s ease-in;
		&:hover {
			box-shadow: 0 0 2px rgba(0, 0, 0, .2);
		}
	}
}
.is-style-bt-expansion {
	.wp-block-button__link {
		&:hover {
			animation: expansion_btn 0.4s both;
	}
	}
}
@keyframes expansion_btn {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(.95);
	}
	100% {
		transform: scale(1.08);
	}
}

.is-style-bt-emboss {
	.wp-block-button__link {
		transition: box-shadow 0.2s ease;
		&:hover {
			box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
		}
	}
}
