/** buttons **/
.wp-block-buttons {
	.block-editor-inner-blocks {
		width: 100%;
	}
	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
	}
}

.wp-block {
	/** button align **/
	&[data-align=left],
	&[data-align=right],
	&[data-align=center] {
		height: unset;
		text-align: unset;
		> .wp-block-buttons {
			float: none;
			margin-left: 0;
		}
	}

	&[data-align=left] {
		> .wp-block-buttons {
			.block-editor-block-list__layout {
				justify-content: flex-start;
			}
		}
	}
	&[data-align=right] {
		> .wp-block-buttons {
			.block-editor-block-list__layout {
				justify-content: flex-end;
			}
		}
	}
	&[data-align=center] {
		> .wp-block-buttons {
			.block-editor-block-list__layout {
				justify-content: center;
			}
		}
	}
}

.wp-block-buttons {
	.wp-block.block-editor-block-list__block[data-type="core/button"] {
		margin-left: 8px;
		margin-right: unset;

		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}

		// WP 5.7 later
		> .wp-block {
			margin-left: 8px;
			margin-right: unset;

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}

		/** button width **/
		&[data-button-width=quarter] {
			width: calc(25% - 8px);
		}
		&[data-button-width=one-third] {
			width: calc(33.33% - 8px);
		}
		&[data-button-width=half] {
			width: calc(50% - 8px);
		}
		&[data-button-width=full] {
			width: 100%;
		}

		/** button size **/
		&[data-button-size=small] {
			.wp-block-button__link {
				font-size: 90%;
				padding: .3rem 2rem;
			}
		}
		&[data-button-size=large] {
			.wp-block-button__link {
				font-size: 140%;
				padding: .8rem 2rem;
			}
		}

		/** for style **/
		&[data-button-size=small] {
			.is-style-bt-triangle-icon {
				.wp-block-button__link:after {
					border-width: 0 0 10px 10px;
				}
			}
		}
	}

	&.is-vertical {
		.wp-block.block-editor-block-list__block[data-type="core/button"] {
			margin-left: unset;
		}
		> .wp-block {
			margin-left: unset;
		}
	}

	.wp-block-button .wp-block-button__link {
		width: 100%;
	}

}
