// WordPress 5.5 / Gutenberg v8.4
.editor-styles-wrapper .is-root-container {
	[data-margin-slug=none] {
		margin-top: var(--editor-bridge-space-margin-top-none, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
	}
	[data-margin-slug=small] {
		margin-top: var(--editor-bridge-space-margin-top-small, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
	}
	[data-margin-slug=medium] {
		margin-top: var(--editor-bridge-space-margin-top-medium, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
	}
	[data-margin-slug=large] {
		margin-top: var(--editor-bridge-space-margin-top-large, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
	}
	[data-margin-slug=huge] {
		margin-top: var(--editor-bridge-space-margin-top-huge, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
	}

	/** for Specificity blocks **/
	.wp-block-image,
	.wp-block-table,
	.wp-block-button,
	.wp-block-buttons,
	.wp-block-group,
	.wp-block-columns,
	.wp-block-media-text {
		&[data-margin-slug=none] {
			margin-top: var(--editor-bridge-space-margin-top-none, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
		}
		&[data-margin-slug=small] {
			margin-top: var(--editor-bridge-space-margin-top-small, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
		}
		&[data-margin-slug=medium] {
			margin-top: var(--editor-bridge-space-margin-top-medium, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
		}
		&[data-margin-slug=large] {
			margin-top: var(--editor-bridge-space-margin-top-large, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
		}
		&[data-margin-slug=huge] {
			margin-top: var(--editor-bridge-space-margin-top-huge, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
		}
	}

	/** for stash **/
	* {
		+ h1, + h2, + h3, + h4, + h5, + h6,
		+ p, + ul, + ol {
			&[data-margin-slug=none] {
				margin-top: var(--editor-bridge-space-margin-top-none, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
			}
			&[data-margin-slug=small] {
				margin-top: var(--editor-bridge-space-margin-top-small, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
			}
			&[data-margin-slug=medium] {
				margin-top: var(--editor-bridge-space-margin-top-medium, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
			}
			&[data-margin-slug=large] {
				margin-top: var(--editor-bridge-space-margin-top-large, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
			}
			&[data-margin-slug=huge] {
				margin-top: var(--editor-bridge-space-margin-top-huge, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
			}
		}
	}

	[data-padding-slug=none],
	[data-padding-slug=none].has-background,
	.wp-block-group[data-padding-slug=none].has-background {
		padding: var(--editor-bridge-space-padding-none, unset);
	}
	[data-padding-slug=small],
	[data-padding-slug=small].has-background,
	.wp-block-group[data-padding-slug=small].has-background {
		padding: var(--editor-bridge-space-padding-small, unset);
	}
	[data-padding-slug=medium],
	[data-padding-slug=medium].has-background,
	.wp-block-group[data-padding-slug=medium].has-background {
		padding: var(--editor-bridge-space-padding-medium, unset);
	}
	[data-padding-slug=large],
	[data-padding-slug=large].has-background,
	.wp-block-group[data-padding-slug=large].has-background {
		padding: var(--editor-bridge-space-padding-large, unset);
	}
	[data-padding-slug=huge],
	[data-padding-slug=huge].has-background,
	.wp-block-group[data-padding-slug=huge].has-background {
		padding: var(--editor-bridge-space-padding-huge, unset);
	}

	[data-disable-padding-horizontal=true],
	[data-disable-padding-horizontal=true].has-background,
	.wp-block-group[data-disable-padding-horizontal=true].has-background {
		padding-left: 0;
		padding-right: 0;
	}


	figure.wp-block-image[data-margin-slug=none]:not(.wp-block) {
		margin-top: var(--editor-bridge-space-margin-top-none, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
	}

	figure.wp-block-image[data-margin-slug=small]:not(.wp-block) {
		margin-top: var(--editor-bridge-space-margin-top-small, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
	}

	figure.wp-block-image[data-margin-slug=medium]:not(.wp-block) {
		margin-top: var(--editor-bridge-space-margin-top-medium, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
	}
	figure.wp-block-image[data-margin-slug=large]:not(.wp-block) {
		margin-top: var(--editor-bridge-space-margin-top-large, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
	}

	figure.wp-block-image[data-margin-slug=huge]:not(.wp-block) {
		margin-top: var(--editor-bridge-space-margin-top-huge, unset);
		margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
	}
}
