.block-editor-block-list__block[data-margin-slug=none] {
	.editor-styles-wrapper & {
		> h1, > h2, > h3, > h4, > h5, > h6 {
			margin-top: calc(#{$space-none}px + 0.83em);
		}
		> p, > ul, > ol,
		> .wp-block-group.has-background,
		> .is-block-content > .wp-block-group.has-background,
		> .wp-block-columns.has-background,
		> .is-block-content > .wp-block-columns.has-background,
		> [class^="wp-block-"]:not(.wp-block-group__inner-container):not(.wp-block-column),
		> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
			margin-top: calc(#{$space-none}px + 28px);
		}
		> div > .wp-block-button,
		> .wp-block-column {
			margin-top: $space-none;
		}
	}
}

.block-editor-block-list__block[data-margin-slug=small] {
	.editor-styles-wrapper & {
		> h1, > h2, > h3, > h4, > h5, > h6 {
			margin-top: calc(#{$space-small} + 0.83em);
		}
		> p, > ul, > ol,
		> .wp-block-group.has-background,
		> .is-block-content > .wp-block-group.has-background,
		> .wp-block-columns.has-background,
		> .is-block-content > .wp-block-columns.has-background,
		> [class^="wp-block-"]:not(.wp-block-group__inner-container):not(.wp-block-column),
		> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
			margin-top: calc(#{$space-small} + 28px);
		}
		> div > .wp-block-button,
		> .wp-block-column {
			margin-top: $space-small;
		}
	}
}

.block-editor-block-list__block[data-margin-slug=medium] {
	.editor-styles-wrapper & {
		> h1, > h2, > h3, > h4, > h5, > h6 {
			margin-top: calc(#{$space-medium} + 0.83em);
		}
		> p, > ul, > ol,
		> .wp-block-group.has-background,
		> .is-block-content > .wp-block-group.has-background,
		> .wp-block-columns.has-background,
		> .is-block-content > .wp-block-columns.has-background,
		> [class^="wp-block-"]:not(.wp-block-group__inner-container):not(.wp-block-column),
		> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
			margin-top: calc(#{$space-medium} + 28px);
		}
		> div > .wp-block-button,
		> .wp-block-column {
			margin-top: $space-medium;
		}
	}
}

.block-editor-block-list__block[data-margin-slug=large] {
	.editor-styles-wrapper & {
		> h1, > h2, > h3, > h4, > h5, > h6 {
			margin-top: calc(#{$space-large} + 0.83em);
		}
		> p, > ul, > ol,
		> .wp-block-group.has-background,
		> .is-block-content > .wp-block-group.has-background,
		> .wp-block-columns.has-background,
		> .is-block-content > .wp-block-columns.has-background,
		> [class^="wp-block-"]:not(.wp-block-group__inner-container):not(.wp-block-column),
		> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
			margin-top: calc(#{$space-large} + 28px);
		}
		> div > .wp-block-button,
		> .wp-block-column {
			margin-top: $space-large;
		}
	}
}

[data-padding-slug=none] {
	> h1, > h2, > h3, > h4, > h5, > h6,
	> p, > ul, > ol,
	> .wp-block-group.has-background,
	> .is-block-content > .wp-block-group.has-background,
	> .wp-block-columns.has-background,
	> .is-block-content > .wp-block-columns.has-background,
	> [class^="wp-block-"]:not(.wp-block-group__inner-container),
	> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
		padding: $space-none;
	}
}

[data-padding-slug=small] {
	> h1, > h2, > h3, > h4, > h5, > h6,
	> p, > ul, > ol,
	> .wp-block-group.has-background,
	> .is-block-content > .wp-block-group.has-background,
	> .wp-block-columns.has-background,
	> .is-block-content > .wp-block-columns.has-background,
	> [class^="wp-block-"]:not(.wp-block-group__inner-container),
	> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
		padding: $space-small;
	}
}

[data-padding-slug=medium] {
	> h1, > h2, > h3, > h4, > h5, > h6,
	> p, > ul, > ol,
	> .wp-block-group.has-background,
	> .is-block-content > .wp-block-group.has-background,
	> .wp-block-columns.has-background,
	> .is-block-content > .wp-block-columns.has-background,
	> [class^="wp-block-"]:not(.wp-block-group__inner-container),
	> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
		padding: $space-medium;
	}
}

[data-padding-slug=large] {
	> h1, > h2, > h3, > h4, > h5, > h6,
	> p, > ul, > ol,
	> .wp-block-group.has-background,
	> .is-block-content > .wp-block-group.has-background,
	> .wp-block-columns.has-background,
	> .is-block-content > .wp-block-columns.has-background,
	> [class^="wp-block-"]:not(.wp-block-group__inner-container),
	> .is-block-content > [class^="wp-block-"]:not(.wp-block-group__inner-container) {
		padding: $space-large;
	}
}
