/** width **/
.wp-block-group,
.wp-block-columns {
	&.is-width-25 {
		width: 26%;
	}
	&.is-width-50 {
		width: 50%;
	}
	&.is-width-75 {
		width: 75%;
	}
	&.is-width-100 {
		width: 100%;
	}
	&.is-width-auto {
		width: auto;
	}
	&.is-width-unset {
		width: unset;
	}
}

.wp-block-table {
	&.is-width-25 {
		table,
		figcaption {
			width: 26%;
			margin: auto;
		}
	}
	&.is-width-50 {
		table,
		figcaption {
			width: 50%;
			margin: auto;
		}
	}
	&.is-width-75 {
		table,
		figcaption {
			width: 75%;
			margin: auto;
		}
	}
	&.is-width-100 {
		table,
		figcaption {
			width: 100%;
			margin: auto;
		}
	}
	&.is-width-auto {
		table,
		figcaption {
			width: auto;
			margin: auto;
		}
	}
	&.is-width-unset {
		table,
		figcaption {
			width: unset;
			margin: auto;
		}
	}
}
