// Included Modules
@use '../../../scss/variable';

/** width **/
[class*="wp-block-"] {
	&.is-width-25,
	&.is-width-50,
	&.is-width-75,
	&.is-width-100 {
		table {
			width: 100%;
		}
	}
	&.is-width-auto {
		table {
			width: auto;
		}
	}
	&.is-width-unset {
		table {
			width: unset;
		}
	}
}

[class*="wp-block-"] {
	&.is-width-25 {
		width: clamp( 26%, (#{variable.$default-editor-breakpoint-small + 1px} - 100vw) * 1000, 100% );
		margin: auto;
	}
	&.is-width-50 {
		width: clamp( 50%, (#{variable.$default-editor-breakpoint-small + 1px} - 100vw) * 1000, 100% );
		margin: auto;
	}
	&.is-width-75 {
		width: clamp( 75%, (#{variable.$default-editor-breakpoint-small + 1px} - 100vw) * 1000, 100% );
		margin: auto;
	}
	&.is-width-100 {
		width: 100%;
		margin: auto;
	}
	&.is-width-auto {
		width: auto;
	}
	&.is-width-unset {
		width: unset;
	}
}
