.is-style-list-no-style,
.is-style-list-centered {
	list-style: none;
	padding-left: 0;
	ul,
	ol {
		list-style: none;
	}
}

.is-style-list-inline {
	&:not(.has-background) {
		padding-left: 0;
	}
	ul,
	ol {
		display: inline;
		padding-left: 2rem;
	}
	li {
		display: inline;
		padding-right: 2rem;
		&:last-child {
			padding-right: 0;
		}
	}
}

ul.is-style-list-inline {
	list-style: none;
}
ol.is-style-list-inline {
	counter-reset: number;
	ul,
	ol {
		counter-reset: number;
	}
	li {
		&:before {
			counter-increment: number;
			content: counter(number) ".";
			padding-right: .3em;
		}
	}
}

.is-style-list-reference {
	list-style: none;
	ul,
	ol {
		list-style: none;
	}
	padding-left: 0;
	li {
		position: relative;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
ul.is-style-list-reference {
	li {
		padding-left: 1.1em;

		&:before {
			content: "※";
		}
	}
	ol {
		counter-reset: number;
		> li {
			padding-left: 2.2em;

			&:before {
				counter-increment: number;
				content: "※" counter(number);
			}
		}
	}
}
ol.is-style-list-reference {
	counter-reset: number;
	ol {
		counter-reset: number;
	}
	li {
		padding-left: 2.2em;

		&:before {
			counter-increment: number;
			content: "※" counter(number);
		}
	}
	ul > li {
		padding-left: 1.1em;

		&:before {
			content: "※";
		}
	}
}

.is-style-list-inline-reference {
	list-style: none;
	&:not(.has-background) {
		padding-left: 0;
	}
	ul,
	ol {
		display: inline;
		padding-left: 2rem;
	}
	li {
		display: inline;
		padding-right: 1.2em;
		&:last-child {
			padding-right: 0;
		}
	}
}
ul.is-style-list-inline-reference {
	li {
		&:before {
			content: "※";
			padding-right: .1em;
		}
	}
}
ol.is-style-list-inline-reference {
	counter-reset: number;
	ol {
		counter-reset: number;
	}
	li {
		&:before {
			counter-increment: number;
			content: "※" counter(number);
			padding-right: .2em;
		}
	}
}

.is-style-list-centered {
	li {
		text-align: center;
	}
	ul,
	ol {
		padding-left: 0;
	}
}
ol.is-style-list-centered {
	list-style: decimal;
	list-style-position: inside;
}

.is-style-list-columns {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 40%;
	}
	li:nth-child(even) {
		margin-left: 3rem;
	}
}
ul.is-style-list-columns {
	li {
		list-style: square;
	}
}

.is-style-list-square,
.is-style-list-circle {
	list-style: none;
	padding-left: 20px;
	ul,
	ol {
		list-style: none;
	}
	li {
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			z-index: 1;
			text-align: center;
			line-height: 1.4;
			background-color: #000;
			color: #fff;
		}
	}
}

ul.is-style-list-square,
ul.is-style-list-circle {
	li {
		&:before {
			background-color: currentColor;
			color: inherit;
		}
	}

	li {
		padding-left: 1.2rem;

		&:before {
			content: "";
			top: 10px;
			width: 12px;
			height: 12px;
		}
	}
	ol {
		counter-reset: number;

		> li {
			padding-left: 2rem;

			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				z-index: 1;
				text-align: center;
				line-height: 1.4;
				background-color: #000;
				color: #fff;
			}
			&:after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				text-align: center;
				line-height: 1.4;
			}

			&:before {
				counter-increment: number;
				content: counter(number);
				top: 3px;
				width: 24px;
				height: 24px;
			}
			&:after {
				content: "";
				top: 3px;
				width: 24px;
				height: 24px;
			}

			&:before {
				font-size: 90%;
				line-height: 1.5;
				background-color: transparent;
			}
			&:after {
				background-color: currentColor;
				color: inherit;
			}
		}
	}
}

ol.is-style-list-square,
ol.is-style-list-circle {
	li {
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			text-align: center;
			line-height: 1.4;
		}

		&:before {
			font-size: 90%;
			line-height: 1.5;
			background-color: transparent;
		}

		&:after {
			background-color: currentColor;
			color: inherit;
		}
	}

	counter-reset: number;
	ol {
		counter-reset: number;
	}

	li {
		padding-left: 2rem;

		&:before {
			counter-increment: number;
			content: counter(number);
			top: 3px;
			width: 24px;
			height: 24px;
		}
		&:after {
			content: "";
			top: 3px;
			width: 24px;
			height: 24px;
		}
	}

	ul > li {
		padding-left: 1.2rem;

		&:before {
			counter-increment: unset;
			content: "";
			top: 10px;
			width: 12px;
			height: 12px;
		}

		&:before {
			background-color: currentColor;
			color: inherit;
		}
		&:after {
			content: unset;
		}
	}
}

ul.is-style-list-circle,
ol.is-style-list-circle {
	li {
		&:before,
		&:after {
			border-radius: 50%;
		}
	}
}

.editor-styles-wrapper {
	.is-style-list-no-style,
	.is-style-list-centered,
	.is-style-list-reference,
	.is-style-list-circle,
	.is-style-list-square {
		list-style: none;

		ul,
		ol {
			list-style: none;
		}
	}

	.is-style-list-no-style,
	.is-style-list-centered,
	.is-style-list-reference {
		list-style: none;
		&:not(.has-background) {
			padding-left: 0;
		}
	}

	.is-style-list-circle,
	.is-style-list-square {
		&:not(.has-background) {
			padding-left: 20px;
		}
	}

	ul.is-style-list-reference {}
	ol.is-style-list-reference {
		ul > li {
			&:before {
				counter-increment: unset;
			}
		}
	}
}

ul.is-style-icon {
	list-style: none;
	padding-left: 20px;

	ul {
		list-style: none;
	}

	li::before{
		content: var(--editor-bridge-icon-unicode);
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
		color: var(--editor-bridge-icon-color);
		margin-right: .4rem;
	}
}

.editor-styles-wrapper ul.is-style-icon {
	list-style: none;
	ul {
		list-style: none;
	}
}
