/** reset preset block css **/
.wp-block-cover-image,
.wp-block-cover {
	.wp-block-cover-image-text,
	.wp-block-cover-text,
	h2 {
		max-width: none;
	}
}

.wp-block-cover {
	.has-text-align-left {
		text-align: left;
	}
	.has-text-align-center {
		text-align: center;
	}
	.has-text-align-right {
		text-align: right;
	}
}

.wp-block-table {
	table {
		width: auto;
		border: 1px solid var(--editor-bridge-border-color, unset);
	}
	td,
	th {
		border: unset;
		border-top: 1px solid var(--editor-bridge-border-color, unset);
		border-right: 1px solid var(--editor-bridge-border-color, unset);
		padding: .6rem;
	}
	thead {
		border-bottom: 2px solid;
	}
	tfoot {
		border-top: 2px solid;
	}

	&.is-style-regular {
		table {
			border: 1px solid var(--editor-bridge-border-color, unset);
		}
		thead,
		tfoot {
			border-color: var(--editor-bridge-border-color, unset);
		}
	}

	&.is-style-stripes {
		border-bottom: unset;

		table {
			border: unset;
		}
		thead,
		tfoot {
			border-color: var(--editor-bridge-border-color, unset);
		}
	}

}

.wp-block-separator.is-style-dots {
	box-shadow: unset;
}

.is-style-default,
.is-style-squared {
	.wp-block-button__link {
		&:hover {
			text-decoration: none;
			opacity: .8;
		}
	}
}
.is-style-outline {
	.wp-block-button__link {
		&:hover {
			text-decoration: underline;
		}
	}
}

.wp-block-group {
	&.has-background {
		padding: var(--editor-bridge-space-padding-medium, unset);
	}
}
