.is-margin-none {
	margin-top: var(--editor-bridge-space-margin-top-none, unset);
	margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
}
.is-margin-small {
	margin-top: var(--editor-bridge-space-margin-top-small, unset);
	margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
}
.is-margin-medium {
	margin-top: var(--editor-bridge-space-margin-top-medium, unset);
	margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
}
.is-margin-large {
	margin-top: var(--editor-bridge-space-margin-top-large, unset);
	margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
}
.is-margin-huge {
	margin-top: var(--editor-bridge-space-margin-top-huge, unset);
	margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
}

.entry-content {
	* {
		&.is-margin-none {
			margin-top: var(--editor-bridge-space-margin-top-none, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
		}
		&.is-margin-small {
			margin-top: var(--editor-bridge-space-margin-top-small, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
		}
		&.is-margin-medium {
			margin-top: var(--editor-bridge-space-margin-top-medium, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
		}
		&.is-margin-large {
			margin-top: var(--editor-bridge-space-margin-top-large, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
		}
		&.is-margin-huge {
			margin-top: var(--editor-bridge-space-margin-top-huge, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
		}
	}
}

/** for Specificity blocks **/
.entry-content {
	.wp-block-buttons,
	.wp-block-button,
	.wp-block-image,
	.wp-block-table,
	.wp-block-gallery,
	.wp-block-media-text,
	.wp-block-group,
	.wp-block-columns,
	.wp-block-column {
		&.is-margin-none {
			margin-top: var(--editor-bridge-space-margin-top-none, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
		}
		&.is-margin-small {
			margin-top: var(--editor-bridge-space-margin-top-small, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
		}
		&.is-margin-medium {
			margin-top: var(--editor-bridge-space-margin-top-medium, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
		}
		&.is-margin-large {
			margin-top: var(--editor-bridge-space-margin-top-large, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
		}
		&.is-margin-huge {
			margin-top: var(--editor-bridge-space-margin-top-huge, unset);
			margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
		}
	}
}

.entry-content {
	* {
		/** for stash **/
		+ h1, + h2, + h3, + h4, + h5, + h6,
		+ p, + ul, + ol,
		/** for Specificity blocks **/
		+ .wp-block-image,
		+ .wp-block-table,
		+ .wp-block-button,
		+ .wp-block-buttons,
		+ .wp-block-group,
		+ .wp-block-columns,
		+ .wp-block-media-text {
			&.is-margin-none {
				margin-top: var(--editor-bridge-space-margin-top-none, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-none, unset);
			}
			&.is-margin-small {
				margin-top: var(--editor-bridge-space-margin-top-small, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-small, unset);
			}
			&.is-margin-medium {
				margin-top: var(--editor-bridge-space-margin-top-medium, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-medium, unset);
			}
			&.is-margin-large {
				margin-top: var(--editor-bridge-space-margin-top-large, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-large, unset);
			}
			&.is-margin-huge {
				margin-top: var(--editor-bridge-space-margin-top-huge, unset);
				margin-bottom: var(--editor-bridge-space-margin-bottom-huge, unset);
			}
		}
	}
}

.is-padding-none,
.is-padding-none.has-background,
.wp-block-group.is-padding-none.has-background {
	padding: var(--editor-bridge-space-padding-none, unset);
}
.is-padding-small,
.is-padding-small.has-background,
.wp-block-group.is-padding-small.has-background {
	padding: var(--editor-bridge-space-padding-small, unset);

	&.disable-padding-horizontal {
		padding-left: 0;
		padding-right: 0;
	}
}
.is-padding-medium,
.is-padding-medium.has-background,
.wp-block-group.is-padding-medium.has-background {
	padding: var(--editor-bridge-space-padding-medium, unset);

	&.disable-padding-horizontal {
		padding-left: 0;
		padding-right: 0;
	}
}
.is-padding-large,
.is-padding-large.has-background,
.wp-block-group.is-padding-large.has-background {
	padding: var(--editor-bridge-space-padding-large, unset);

	&.disable-padding-horizontal {
		padding-left: 0;
		padding-right: 0;
	}
}
.is-padding-huge,
.is-padding-huge.has-background,
.wp-block-group.is-padding-huge.has-background {
	padding: var(--editor-bridge-space-padding-huge, unset);

	&.disable-padding-horizontal {
		padding-left: 0;
		padding-right: 0;
	}
}

.disable-padding-horizontal {
	padding-left: 0;
	padding-right: 0;
}

/** for alignwide and alignfull **/
[class*="wp-block-"] {
	&.alignwide,
	&.alignfull {
		&.is-padding-none {
			padding: var(--editor-bridge-space-padding-none, unset);
		}
		&.is-padding-small {
			padding: var(--editor-bridge-space-padding-small, unset);
		}
		&.is-padding-medium {
			padding: var(--editor-bridge-space-padding-medium, unset);
		}
		&.is-padding-large {
			padding: var(--editor-bridge-space-padding-large, unset);
		}
		&.is-padding-huge {
			padding: var(--editor-bridge-space-padding-huge, unset);
		}

		&.disable-padding-horizontal {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
