.is-style-bt-triangle-icon {
	.wp-block-button__link {
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			height: 0;
			width: 0;
			right: 8px;
			bottom: 8px;
			border-style: solid;
			border-width: 0 0 12px 12px;
			border-color: transparent transparent currentColor transparent;
		}
	}

	&.is-button-size-small {
		.wp-block-button__link:after {
			border-width: 0 0 10px 10px;
		}
	}
}

.is-style-bt-blur {
	.wp-block-button__link {
		box-shadow: 0 2px 18px rgba(133, 109, 109, 0.5);
		transition: box-shadow .3s ease-in;
		&:hover {
			box-shadow: 0 0 0 rgba(133, 109, 109, 0);
		}
	}
}
.is-style-bt-shadow {
	.wp-block-button__link {
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
		transition: box-shadow .1s ease-in;
		&:hover {
			box-shadow: 0 0 2px rgba(0, 0, 0, .2);
		}
	}
}
.is-style-bt-expansion {
	.wp-block-button__link {
		&:hover {
			animation: expansion_btn 0.4s both;
	}
	}
}
@keyframes expansion_btn {
	0% {
		transform: scale(1);
	}
	20% {
		transform: scale(.95);
	}
	100% {
		transform: scale(1.08);
	}
}

.is-style-bt-emboss {
	.wp-block-button__link {
		transition: box-shadow 0.2s ease;
		&:hover {
			box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
		}
	}
}

.wp-block-image {
	&.is-style-img-round-corner {
		img {
			border-radius: 12px;
		}
	}

	&.is-style-img-frame {
		img {
			border: 1px solid #ccc;
			background: #fff;
			padding: .4rem;
		}
	}

	&.is-style-img-shadow {
		img {
			box-shadow: 0 3px 8px rgba(0, 0, 0, .07);
			border: 1px solid #e0e0e0;
			border-radius: 4px;
		}
	}
}

.is-style-hd-underline {
	border-bottom: 2px solid;
}

.is-style-hd-thin-underline {
	border-bottom: 1px solid;
}

.is-style-hd-thick-underline {
	border-bottom: 4px solid;
}

.is-style-hd-two-color-underline {
	border-bottom: 1px solid var(--editor-bridge-border-color, unset);
	&:after {
		position: absolute;
		content: '';
		display: block;
		width: 240px;
		height: 1px;
		background: currentColor;

		.block-editor-block-list__layout & {
			top: unset;
			bottom: unset;
		}
	}
}

.is-style-hd-updown-line {
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.is-style-hd-accent-line {
	position: relative;

	&:after {
		position: absolute;
		content: '';
		display: block;
		border-bottom: solid 2px;
		width: 120px;
	}
	&.has-text-align-left:after {
		left: 0;
	}
	&.has-text-align-center:after {
		left: 0;
		right: 0;
		margin: auto;
	}
	&.has-text-align-right:after {
		right: 0;

		.block-editor-block-list__layout & {
			left: unset;
		}
	}
}

.is-style-hd-kebab-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	&:before,
	&:after {
		display: block;
		border-bottom: 2px solid;
		flex: 1 0 0%;
		min-width: 20px;
	}

	&:before {
		content: unset;
		margin-right: 1rem;
	}
	&:after {
		content: '';
		margin-left: 1rem;

		.block-editor-block-list__layout & {
			position: static
		}
	}
	&.has-text-align-left:before {
		content: unset;
	}
	&.has-text-align-left:after {
		content: '';
	}
	&.has-text-align-center:before {
		content: '';
	}
	&.has-text-align-center:after {
		content: '';
	}
	&.has-text-align-right:before {
		content: '';
	}
	&.has-text-align-right:after {
		content: unset;
	}
}

.is-style-hd-single-box {
	border: 1px solid;
	padding: .4rem;
}

.is-style-hd-double-box {
	border: 3px double;
	padding: .4rem;
}

.is-style-hd-left-accent-line {
	padding-left: .6rem;
	border-left: solid 6px;
}

.is-style-hd-gradation-line {
	&:after {
		content: '';
		display: block;
		height: 4px;
		background: linear-gradient(to right, currentColor, transparent);

		.block-editor-block-list__layout & {
			top: unset;
			bottom: unset;
		}
	}
}
.is-style-hd-stripe-line {
	position: relative;
	padding-bottom: .2rem;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 4px;
		background: repeating-linear-gradient(-45deg, currentColor, currentColor 10px, transparent 10px, transparent 15px);

		.block-editor-block-list__layout & {
			top: unset;
		}
	}
}
// TODO: fix v5.5
.is-style-hd-cross-box {
	position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px currentColor;
	border-bottom: solid 2px currentColor;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -9px;
		width: 2px;
		height: calc(100% + 18px);
		background-color: currentColor;
	}
	&:before {
		left: 9px;
	}
	&:after {
		right: 9px;

		.block-editor-block-list__layout & {
			top: -9px;
			left: calc(100% - 9px);
		}
	}
}

.is-style-hd-brackets {
	position: relative;
  padding: 0.25em 1em;

	&:before,
	&:after {
		position: absolute;
		top: 0;
		content: '';
		width: 8px;
		height: 100%;
	}
	&:before {
		border-left: solid 1px currentColor;
		border-top: solid 1px currentColor;
		border-bottom: solid 1px currentColor;
		left: 0;
	}
	&:after {
		content: '';
		border-top: solid 1px currentColor;
		border-right: solid 1px currentColor;
		border-bottom: solid 1px currentColor;
		right: 0;

		.block-editor-block-list__layout & {
			left: unset;
		}
	}
}

.is-style-hd-japanese-quotation {
	position: relative;
  padding: 0.25em 1em;

	&:before,
	&:after {
		position: absolute;
		content: '';
		width: 20px;
		height: 30px;
	}

	&:before {
		border-left: solid 1px currentColor;
		border-top: solid 1px currentColor;
		top: 0;
		left: 0;
	}

	&:after {
		border-right: solid 1px currentColor;
		border-bottom: solid 1px currentColor;
		bottom: 0;
		right: 0;

		.block-editor-block-list__layout & {
			top: unset;
			left: unset;
		}
	}
}

.wp-block-table {
	&.is-style-tb-underline {
		table {
			border: none;
			border-collapse: collapse;
		}
		tr:first-child {
			td {
				border-top: 1px solid var(--editor-bridge-border-color, unset);
			}
		}
		th,
		td {
			border: none;
			border-bottom: 1px solid var(--editor-bridge-border-color, unset);
		}
		th {
			background: unset;
		}
		thead,
		tfoot {
			border-color: var(--editor-bridge-border-color, unset);
		}
	}

	&.is-style-tb-dashed {
		table {
			border: none;
			border-collapse: collapse;
		}
		tr:first-child {
			th,
			td {
				border-top: 1px dashed var(--editor-bridge-border-color, unset);
			}
		}
		th,
		td {
			border: none;
			border-bottom: 1px dashed var(--editor-bridge-border-color, unset);
		}
		th {
			background: unset;
		}
		thead {
			border-bottom: unset;
		}
		tfoot {
			border-top: unset;
		}
	}

	&.is-style-tb-round-corner {
		table {
			border: 1px solid var(--editor-bridge-border-color, unset);
			border-collapse: separate;
			border-spacing: 0;
			border-radius: 10px;
		}

		th,
		td {
			background: unset;
			border-top: unset;
			border-bottom: 1px solid var(--editor-bridge-border-color, unset);
			border-right: 1px solid var(--editor-bridge-border-color, unset);
		}
		tr:last-child {
			th,
			td {
				border-bottom: unset;
			}
		}
		th:last-child,
		td:last-child {
			border-right: unset;
		}
		thead tr:last-child {
			th,
			td {
				border-bottom: 1px solid var(--editor-bridge-border-color, unset);
			}
		}
		tfoot tr:first-child {
			th,
			td {
				border-top: 1px solid var(--editor-bridge-border-color, unset);
			}
		}
	}

	&.is-style-tb-no-style {
		table {
			border: none;
		}
		th {
			background: unset;
			border: none;
		}
		tr:first-child {
			th {
				border-bottom: 2px solid var(--editor-bridge-border-color, unset);
			}
		}
		td {
			background: unset;
			border: none;
		}
		thead {
			border-bottom: unset;
		}
		tfoot {
			border-top: unset;
		}
	}

	&.is-style-tb-frame {
		table {
			border: 2px solid var(--editor-bridge-border-color, unset);
		}
		th {
			background: unset;
			border: none;
		}
		tr:first-child {
			th {
				border-bottom: 2px solid var(--editor-bridge-border-color, unset);
			}
		}
		td {
			background: unset;
			border: none;
		}
		thead {
			border-bottom: unset;
		}
		tfoot {
			border-top: unset;
		}
	}
}

hr.wp-block-separator {
	box-shadow: unset;

	&.is-style-hr-dotted,
	&.is-style-hr-thick-line,
	&.is-style-hr-asterisk {
		&:not(.is-style-wide):not(.is-style-dots) {
			max-width: unset;
			height: 0;
			padding: .5rem;
			background-color: unset;
			opacity: unset;

			.editor-styles-wrapper &,
			.edit-widgets-block-editor & {
				background-color: unset !important;
			}
		}
	}

	&.is-style-hr-dotted {
		&:not(.is-style-wide):not(.is-style-dots) {
			border-top: 4px dotted;
			border-bottom: unset;
			width: 100%;
		}
	}

	&.is-style-hr-thick-line {
		&:not(.is-style-wide):not(.is-style-dots) {
			border-top: 4px solid;
			border-bottom: unset;
		}
	}

	&.is-style-hr-asterisk {
		position: relative;

		.editor-styles-wrapper &,
		.edit-widgets-block-editor & {
			overflow: unset;
		}

		&:not(.is-style-wide):not(.is-style-dots) {
			border-bottom: unset;
		}
		&:before {
			display: block;
			position: absolute;
			top: -12px;
			left: 50%;
			transform: translate(-50%, -20%);
			content: '* * *';
			color: currentColor;
			font-size: 150%;
		}
	}
}

.is-style-list-no-style,
.is-style-list-centered {
	list-style: none;
	padding-left: 0;
	ul,
	ol {
		list-style: none;
	}
}

.is-style-list-inline {
	&:not(.has-background) {
		padding-left: 0;
	}
	ul,
	ol {
		display: inline;
		padding-left: 2rem;
	}
	li {
		display: inline;
		padding-right: 2rem;
		&:last-child {
			padding-right: 0;
		}
	}
}

ul.is-style-list-inline {
	list-style: none;
}
ol.is-style-list-inline {
	counter-reset: number;
	ul,
	ol {
		counter-reset: number;
	}
	li {
		&:before {
			counter-increment: number;
			content: counter(number) ".";
			padding-right: .3em;
		}
	}
}

.is-style-list-reference {
	list-style: none;
	ul,
	ol {
		list-style: none;
	}
	padding-left: 0;
	li {
		position: relative;

		&:before {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
ul.is-style-list-reference {
	li {
		padding-left: 1.1em;

		&:before {
			content: "※";
		}
	}
	ol {
		counter-reset: number;
		> li {
			padding-left: 2.2em;

			&:before {
				counter-increment: number;
				content: "※" counter(number);
			}
		}
	}
}
ol.is-style-list-reference {
	counter-reset: number;
	ol {
		counter-reset: number;
	}
	li {
		padding-left: 2.2em;

		&:before {
			counter-increment: number;
			content: "※" counter(number);
		}
	}
	ul > li {
		padding-left: 1.1em;

		&:before {
			content: "※";
		}
	}
}

.is-style-list-inline-reference {
	list-style: none;
	&:not(.has-background) {
		padding-left: 0;
	}
	ul,
	ol {
		display: inline;
		padding-left: 2rem;
	}
	li {
		display: inline;
		padding-right: 1.2em;
		&:last-child {
			padding-right: 0;
		}
	}
}
ul.is-style-list-inline-reference {
	li {
		&:before {
			content: "※";
			padding-right: .1em;
		}
	}
}
ol.is-style-list-inline-reference {
	counter-reset: number;
	ol {
		counter-reset: number;
	}
	li {
		&:before {
			counter-increment: number;
			content: "※" counter(number);
			padding-right: .2em;
		}
	}
}

.is-style-list-centered {
	li {
		text-align: center;
	}
	ul,
	ol {
		padding-left: 0;
	}
}
ol.is-style-list-centered {
	list-style: decimal;
	list-style-position: inside;
}

.is-style-list-columns {
	display: flex;
	flex-wrap: wrap;
	li {
		width: 40%;
	}
	li:nth-child(even) {
		margin-left: 3rem;
	}
}
ul.is-style-list-columns {
	li {
		list-style: square;
	}
}

.is-style-list-square,
.is-style-list-circle {
	list-style: none;
	padding-left: 20px;
	ul,
	ol {
		list-style: none;
	}
	li {
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			text-align: center;
			line-height: 1.4;
			background-color: #000;
			color: #fff;
		}
	}
}

ul.is-style-list-square,
ul.is-style-list-circle {
	li {
		padding-left: 1.2rem;

		&:before {
			content: "";
			top: 10px;
			width: 12px;
			height: 12px;
		}
	}
	ol {
		counter-reset: number;
		> li {
			padding-left: 2rem;

			&:before {
				counter-increment: number;
				content: counter(number);
				top: 4px;
				width: 24px;
				height: 24px;
			}
		}
	}
}
ol.is-style-list-square,
ol.is-style-list-circle {
	counter-reset: number;
	ol {
		counter-reset: number;
	}
	li {
		padding-left: 2rem;

		&:before {
			counter-increment: number;
			content: counter(number);
			top: 3px;
			width: 24px;
			height: 24px;
		}
	}
	ul > li {
		padding-left: 1.2rem;

		&:before {
			counter-increment: unset;
			content: "";
			top: 10px;
			width: 12px;
			height: 12px;
		}
	}
}

ul.is-style-list-circle {
	li {
		&:before {
			border-radius: 50%;
		}
	}
}
ol.is-style-list-circle {
	li {
		&:before {
			border-radius: 50%;
		}
	}
}

.editor-styles-wrapper {
	.is-style-list-no-style,
	.is-style-list-centered,
	.is-style-list-reference,
	.is-style-list-circle,
	.is-style-list-square {
		list-style: none;

		ul,
		ol {
			list-style: none;
		}
	}

	.is-style-list-no-style,
	.is-style-list-centered,
	.is-style-list-reference {
		list-style: none;
		&:not(.has-background) {
			padding-left: 0;
		}
	}

	.is-style-list-circle,
	.is-style-list-square {
		&:not(.has-background) {
			padding-left: 20px;
		}
	}

	ul.is-style-list-reference {}
	ol.is-style-list-reference {
		ul > li {
			&:before {
				counter-increment: unset;
			}
		}
	}
}
