:root {
	--guten-bridge-space-margin-none: #{$space-none};
	--guten-bridge-space-margin-small: #{$space-small};
	--guten-bridge-space-margin-medium: #{$space-medium};
	--guten-bridge-space-margin-large: #{$space-large};

	--guten-bridge-space-padding-none: #{$space-none};
	--guten-bridge-space-padding-small: #{$space-small};
	--guten-bridge-space-padding-medium: #{$space-medium};
	--guten-bridge-space-padding-large: #{$space-large};

	--guten-bridge-border-color: #{$default-border-color};
}
