:root {
	--guten-bridge-const-stack: #{$default-stack};

	--guten-bridge-space-margin-top-none: #{$space-none};
	--guten-bridge-space-margin-top-small: #{$space-small};
	--guten-bridge-space-margin-top-medium: #{$space-medium};
	--guten-bridge-space-margin-top-large: #{$space-large};
	--guten-bridge-space-margin-top-huge: #{$space-huge};

	--guten-bridge-space-padding-none: #{$space-none};
	--guten-bridge-space-padding-small: #{$space-small};
	--guten-bridge-space-padding-medium: #{$space-medium};
	--guten-bridge-space-padding-large: #{$space-large};
	--guten-bridge-space-padding-huge: #{$space-huge};

	--guten-bridge-border-color: #{$default-border-color};
}
