$block-edior-max-width: 980px !default;

$default-font-size: 100% !default;
$default-line-space: 8px !default;
$default-line-height: line-height($default-line-space, $default-font-size) !default;
$default-stack: stack($default-line-height, $default-font-size) * 4 !default;

$default-border-color: #ddd !default;

$space-none: 0px !default;
$space-small: $default-stack / 2 !default;
$space-medium: $default-stack !default;
$space-large: $default-stack * 2 !default;
$space-huge: $default-stack * 4 !default;
