$default-layout-width: 1024px !default;
$block-edior-max-width: 1024px !default;

$default-font-size: 112.5% !default;
$default-line-space: 8px !default;
$default-line-height: line-height($default-line-space, $default-font-size, 18px) !default;
$default-stack: stack($default-line-space, $default-font-size, 18px) !default;

$default-border-color: #ddd !default;

$space-none: 0px !default;
$space-small: $default-stack / 2 !default;
$space-medium: $default-stack !default;
$space-large: $default-stack * 2 !default;
$space-huge: $default-stack * 4 !default;
